.btn
  background-color: $button-default
  border: 1px solid transparent
  border-radius: $global-border-radius
  color: inherit
  cursor: pointer
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  padding: $button-padding
  touch-action: manipulation
  transition: $transition-base
  user-select: none

  &:hover
    background-color: $button-default-hover
    color: opacify($text-color, .2)

  &:focus
    outline: thin dotted

  &:disabled
    cursor: not-allowed
    opacity: .8

  &--sm
    font-size: .8125rem
    padding: .28125rem .75rem

  &--lg
    font-size: 1.25rem
    font-weight: 300
    padding: .875rem 1.5rem

  &--full
    width: 100%

  &--hollow
    background-color: transparent
    border: 1px solid currentColor

  &--primary
    background-color: $button-primary
    color: $button-text-light

    &:hover
      background-color: $button-primary-hover
      color: $button-text-light

    &-hollow
      background-color: transparent
      border: 1px solid $button-primary
      color: $button-primary

      &:hover
        background-color: transparent
        border-color: $button-primary-hover
        color: $button-primary-hover

  &--success
    background-color: $button-success
    color: $button-text-light

    &:hover
      background-color: $button-success-hover
      color: $button-text-light

    &-hollow
      background-color: transparent
      border: 1px solid $button-success
      color: $button-success

      &:hover
        background-color: transparent
        border-color: $button-success-hover
        color: $button-success-hover

  &--warning
    background-color: $button-warning
    color: $button-text-light

    &:hover
      background-color: $button-warning-hover
      color: $button-text-light

    &-hollow
      background-color: transparent
      border: 1px solid $button-warning
      color: $button-warning

      &:hover
        background-color: transparent
        border-color: $button-warning-hover
        color: $button-warning-hover

  &--danger
    background-color: $button-danger
    color: $button-text-light

    &:hover
      background-color: $button-danger-hover
      color: $button-text-light

    &-hollow
      background-color: transparent
      border: 1px solid $button-danger
      color: $button-danger

      &:hover
        background-color: transparent
        border-color: $button-danger-hover
        color: $button-danger-hover
