// should keep empty
.wrapper
  margin: 0 auto
  max-width: 1200px
  padding: 0 1rem
  width: 100%

  &--flex
    align-items: center
    display: flex
    justify-content: space-between

    &-wrap
      flex-wrap: wrap

  +breakpoint(landscape)
    padding: 0 2rem

.page__header
  background-color: $plum
  margin-bottom: $global-margin-bottom
  padding: 2rem 0
  text-align: center

.page__title
  color: #ffffff
  margin-bottom: 0

.btn_answer
  color: $plum
  background-color: transparent
  transition: all 0.2s ease
  &:hover
    background-color: $plum
    color: white

.modal
  box-shadow: 0 10px 6px -6px #777
  max-height: 50%

.answer-box
    min-height: 150px
    max-height: 200px
    margin-bottom: 0.3rem


.dashboard-menu-list
  padding-right: 1rem

.dashboard-menu-item
  color: brown
  background-color: transparent
  border: none
  padding-bottom: 0.5rem
  padding-right: 1rem
  padding-left: 1rem
  text-transform: uppercase
  font-size: 0.75em

  &:focus
    outline: none
    border-bottom: 2px solid $plum

.edit-profile-container
  width: 35%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.edit-account-container
  padding-left: 1rem
  width: 65%

.form-panel-1
  width: 100%


.input-wrapper
  width: 100%

  input
    display: block
    min-width: 80%
    max-width: 100%
    margin-bottom: 1rem
    margin-top: 0.25rem
    border: 1px solid grey
    border-radius: 3px
    padding: 0.5rem

    &:focus
      outline: none
      border-color: $plum;
      box-shadow: 0 0 10px $plum;


.button-wrapper
  width: 80%
  display: flex
  flex-direction: row
  justify-content: flex-end
