$background-color: #fafafa
$text-color: rgba(black, .75)

// Fonts
$font-family-sans: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
$font-family-mono: 'Source Code Pro', 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-bold: 600

$font-weight: $font-weight-normal
$line-height: 1.5

$global-border-radius: 3px
$global-margin-bottom: 1.5rem

$breakpoints: (tablet: 600px, landscape: 900px, desktop: 1200px)

// colours
$lightblue: #4fbdf4

// alert colours
$green: #44aa8a
$red: #ec6a6a
$orange: #edb25e
$blue: #45abde

// background colours
$lightestgrey: #f8f8f8
$lightgrey: #e4e4e4
$bluegrey: #ccdee7
$darkgrey: #283840
$lightbrown: #f3f3ee
$plum: #595979
$steel: #bcc9cf

$hero-image: 'https://images.unsplash.com/photo-1498049860654-af1a5c566876'
