$background-color: #fafafa
$text-color: rgba(black, .75)

$font-family-sans: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
$font-family-mono: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace
$font-weight: 300
$line-height: 1.5

$global-border-radius: 3px
$global-margin-bottom: 1.5rem

// colours
$lightblue: #4fbdf4

// alert colours
$green: #44aa8a
$red: #ec6a6a
$orange: #edb25e
$blue: #45abde

// background colours
$lightestgrey: #f8f8f8
$lightgrey: #e4e4e4
$bluegrey: #ccdee7
$darkgrey: #283840
$lightbrown: #f3f3ee
$plum: #595979
$steel: #bcc9cf
